.DS_Store
__pycache__/
Contacts/__pycache__/
Survey/__pycache__/
Setup/__pycache__/
QualtricsAPI.egg-info
/documentation
Pipfile
/build
/dist
docs
tests/__inti__.pyc
tests/test.pyc
Setup/__init__.pyc
QualtricsAPI/Setup/__pycache__/
QualtricsAPI/JSON/__pycache__/
