.DS_Store
__pycache__/
Contacts/__pycache__/
Survey/__pycache__/
Setup/__pycache__/
QualtricsAPI.egg-info
/documentation
Pipfile
Pipfile.lock
/dist
/build
tests/__inti__.pyc
tests/test.pyc
Setup/__init__.pyc
